	<div class="row fill" ng-controller="MapCtrl">
		<div class="fill">
			<googlemap
				points="map.points"
				center="map.center"
				bounds="map.bounds"
				zoom="map.zoom"

				on-map-centerchanged=""
				on-map-boundschanged=""
				on-map-click=""
				on-map-dblclick=""
				on-map-drag=""
				on-map-dragend=""
				on-map-dragstart=""
				on-map-tilesloaded=""
				on-map-zoomchanged=""

				on-marker-click="marker.click(marker)"
			></googlemap>
		</div>

		<div class="col-sm-3 afix afix-left"
			animate
			animate-show="palattePanel.show"
		>
			<button class="toggle toggle-left btn btn-sm" ng-click="ne5.toggle('palattePanel', 'show')">Toggle</button>
			<markerpalatte></markerpalatte>
		</div>

		<div class="col-sm-3 afix afix-right"
			animate
			animate-show="controlPanel.show"
		>
      <button class="toggle toggle-right btn btn-sm" ng-click="ne5.toggle('controlPanel', 'show')">Toggle</button>
			<statsviewer
				map-bounds="map.bounds"
				map-center="map.center"
				map-zoom="map.zoom"
			></statsviewer>

			<markerviewer marker="map.marker"></markerviewer>
		</div>
	</div>
