html, body {
  height:100%;
}

.container-fill {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;

  min-height: 100%;

  margin:0;
}

button.toggle {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 10;
}

button.toggle.toggle-left {
  right: 0;
  left: inherit;
}

button.toggle.toggle-right {
  left: 0;
  right: inherit; 
}

.afix{
  position: fixed;
  top: 50px;
  left: 0;

  /*background-color: white;*/
}

.afix .afix-content {
  width: 80%;
  padding: 10px;
}

.afix .afix-button {
  width: 20px;
}

.afix.afix-left {
  left: 0;
  right: inherit;
  padding-left: 0;
}

.afix.afix-left .afix-content {
  float: left;
}

.afix.afix-right {
  right: 0;
  left: inherit;
  padding-right: 0;
}

.afix.afix-right .afix-content {
  float:right;
}

.afix.afix-left .afix-content {
  right: inherit;
  left: 0;

  margin-left:0;

  overflow:hidden;

  background-color: white;

  -moz-box-shadow:    2px 2px 6px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .15);
  box-shadow:         2px 2px 6px rgba(0, 0, 0, .15);
}

.afix.afix-right .afix-content {
  left: inherit;
  right: 0;

  margin-right:0;

  overflow:hidden;

  background-color: white;

  -moz-box-shadow:    -2px 2px 6px rgba(0, 0, 0, .15);
  -webkit-box-shadow: -2px 2px 6px rgba(0, 0, 0, .15);
  box-shadow:         -2px 2px 6px rgba(0, 0, 0, .15);
}

.afix.afix-left .afix-btn {
  float:left; 
}

.afix.afix-right .afix-btn {
  float:right; 
}

.viewer, 
.palatte {
  /*padding: 10px;  */
}

